Welcome to your Bookmark manager

<form action="/bookmarks" method="get">
  <div>
    <input type='submit' name='Bookmarks' value='Bookmarks'>
  </div>
</form>

<form action="/bookmarks/new" method="get">
  <div>
    <input type='submit' value='Create new bookmark'>
  </div>
</form>